spring:
  application:
    name: backend

  datasource:
    username: myuser
    password: secret
    url: "jdbc:postgresql://127.0.0.1:5432/mydatabase"

  sql:
    init:
      mode: always

management:
  endpoints:
    web:
      exposure:
        include: health

logging:
  level:
    org.springframework.data: trace
#    org.springframework.web: trace
#    org.springframework.security: trace
